.hero {
  max-width: 1440px;
  margin-inline: auto;
}

.hero_image {
  width: 100%;
  max-width: 1440px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.hero__content {
  width: 100%;
  max-width: 780px;
  position: absolute;
  left: 140px;
  top: 150px;

  h1 {
    font-size: 148px;
    line-height: 1.2;
    font-weight: bold;
    color: #fff;
  }

  p {
    font-size: 32px;
    color: #fff;
    margin: 20px 0;
  }
}

@media (max-width: 1240px) {
  .hero__content {
    left: 20px;
    top: 100px;

    h1 {
      font-size: 48px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .hero__content {
    left: 20px;
    top: 80px;
    max-width: 400px;
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 14px;
    }
  }
}
